@model IEnumerable<Taller.Models.Novedades>

@{
    ViewData["Title"] = "Novedades";
}
<body class="bg-light text-black">
    <h1>Novedades</h1>

    <p class="text-primary">
        <a asp-action="Create" class="btn btn-info ">Agregar novedad</a>
    </p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEmpleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>